*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  margin-top: 10%;
  padding: 2vw;
  border: 0.2vw solid #000;
  border-radius: 0.2vw;
  text-align: center;
  font-size: 1.1vw;
  row-gap: 1vw;
}
.form a{
  color: #000;
  text-decoration: none;
}
.form a:visited{
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input{
  font-size: 1.1vw;
}

@media (max-width: 1024px){
  .form{
    font-size: 2vw;
    row-gap: 2vw;
    width: 70%;
  }
  .form input{
    font-size: 2vw;
  }
}

@media (max-width: 768px){
  .form{
    font-size: 4vw;
    width: 90%;
    row-gap: 4vw;
  }
  .form input{
    font-size: 4vw;
  }
}